* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-size: calc(15px + 0.390625vw); */
}

:root {
    --text: #000;
    --background: #fff;
    --peak-g: #618C4C;
    --peak-g-l: #f0ffe9;
    --peak-p: #673065;
    --peak-p-l: #fedbfd;
    --peak-w: #FDFFFC;
}

body {
    background-color: var(--peak-w);
    color: var(--text);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

:root {
    --step--2: clamp(0.56rem, calc(0.86rem + -0.39vw), 0.78rem);
    --step--1: clamp(0.83rem, calc(0.97rem + 0.18vw), 0.94rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.17rem + 1.11vw), 1.88rem);
    --step-2: clamp(1.62rem, calc(1.21rem + 2.07vw), 2.81rem);
    --step-3: clamp(1.94rem, calc(1.15rem + 3.96vw), 4.22rem);
    --step-4: clamp(2.33rem, calc(0.94rem + 6.95vw), 6.33rem);
    --step-5: clamp(2.80rem, calc(0.47rem + 11.64vw), 9.49rem);
}

/* -------Navigation------- */

.nav-container nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    z-index: 999;
    transition: all 0.25s ease-in;
}

#header.nav-scrolled {
    background-color: #fff;
    box-shadow: 0px 2px rgba(0, 0, 0, .1);
}

.nav-container img {
    max-width: 80px;
}

.nav-container ul {
    display: flex;
    list-style: none;
}

.nav-container li {
    margin: 0 1rem;
}

.nav-container li.page::after {
    content: '';
    background: var(--peak-g);
    width: 0;
    height: 2px;
    display: block;
    bottom: -9px;
    position: relative;
    transition: all 0.25s ease-in;
}

.nav-container li.page:hover::after {
    width: 100%;
}

.list-container .socials {
    display: flex;
}

.list-container .socials i:hover {
    color: var(--peak-g);
}

.nav-container li.open::after {
    width: 100%;
}




/* ---------Burger icon--------- */

.menu-btn {
    display: none;
    padding: 25px 10px 25px 0px;
    border-radius: 0.25rem;
    margin: 0 0.5rem;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 255, 252, 0.2);
    border: 2px solid rgb(253, 255, 252, 0.2);
}

.menu-btn__burger {
    width: 20px;
    height: 3px;
    background: var(--text);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .25s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    height: 3px;
    background: var(--text);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .25s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-9px);
    width: 30px;
}

.menu-btn__burger::after {
    transform: translateY(9px);
    width: 30px;
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(0px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(-135deg) translate(0, 0);
    width: 30px;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(135deg) translate(0, 0);
    width: 30px;
}


/* ------Buttons------- */


button.fill-in {
    color: var(--peak-g);
    font-size: 1.1rem;
    background-color: transparent;
    border: 2px solid var(--peak-g);
    transition: all 0.35s ease-in;
    border-radius: 0;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: inset 0 0 0 2em var(--peak-g);
        color: var(--peak-w);
    }
}

button.fill-in.light {
    color: var(--peak-w);
    border: 2px solid var(--peak-w);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--peak-w);
        color: var(--peak-g);
    }
}

button.fill-in.purple {
    color: var(--peak-w);
    background-color: var(--peak-p);
    border: 2px solid var(--peak-p);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--peak-w);
        color: var(--peak-p);
    }
}

button.fill-in.green {
    color: var(--peak-w);
    background-color: var(--peak-g);
    border: 2px solid var(--peak-g);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--peak-w);
        color: var(--peak-g);
    }
}

button.fill-in.blue {
    color: var(--peak-w);
    background-color: #35a6d0;
    border: 2px solid #35a6d0;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--peak-w);
        color: #35a6d0;
    }
}



/* ------Fader Animation----- */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}



/* -------Footer------- */

.footer-container {
    margin: 0 0 0 0;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    background-color: #5d5959;
    color: #1a1818;
}

.footer-container a {
    color: #d5cece;
}

.peak-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.peak-container .contain-logo {
    height: 200px;
    margin-top: 1rem;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .peak-container .contain-logo {
        display: none;
    }
}


.footer-container img {
    height: 100%;
}

.peak-container .contain-info h3 {
    font-size: 1.5rem;
}

.peak-container .contain-info p {
    margin: 0.25rem 0;
}

.peak-container p.peak {
    font-style: italic;
}

.peak-container .contain-info ul {
    list-style: none;
    display: flex;
}

.peak-container .contain-info li {
    margin: 0.5rem;
}

.peak-container .contain-info li.pseudo::after {
    content: '';
    position: relative;
    display: inline-block;
    background: var(--peak-g);
    width: 2px;
    height: 1rem;
    top: 2px;
    right: -8px;
}

.peak-container .contain-info li.last::after {
    background: transparent;
}

.peak-container .contain-info {
    padding: 1rem;
    text-align: center;
}


.peak-container .contain-info i {
    margin: 0.25rem 0.75rem;
    font-size: 1.5rem;
}


.peak-container .contain-info p.company {
    font-size: 0.8rem;
}

.peak-container .contain-links{
    text-align: left;
    padding: 1rem;
}

.peak-container .contain-links h3{
    margin-bottom: 0.5rem;
}

.peak-container .contain-links ul{
    list-style: none;
}

.peak-container .contain-links li{
    margin-bottom: 0.25rem;
}


/* ---------Footer-Pay&Copyright-------- */

.pay-copyright{
    display: flex;
    flex-wrap: wrap;
    background-color: #5d5959;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0 1rem;
    border-top: 1px solid #1a1818;
}

.pay-copyright .contain-copy p{
    text-align: center;
}

.pay-copyright .contain-copy, .contain-pay{
    margin-block: 0.25rem;
}

ul.payment-list{
    list-style: none;
}

.payment-list {
    display: flex;
}

.payment-list li{
    margin: 0.5rem;
}


@media only screen and (max-width: 750px) {

    .nav-container nav {
        background: transparent;
    }

    .nav-container li.open::after {
        width: 0%;
    }

    .nav-container li.open {
        color: var(--peak-g);
    }


    /* ------Burger and Drop Menu------ */

    .menu-btn {
        display: flex;
    }

    .list-container {
        position: absolute;
        right: -150px;
        top: 70px;
        transition: all 0.35s ease-in;
    }

    .nav-bar.open .list-container {
        display: block;
        right: 7px;
    }

    .nav-bar ul {
        flex-direction: column;
        background-color: rgb(253, 255, 252, 0.8);
        border: 3px solid rgb(253, 255, 252, 0.8);
        border-radius: 1rem;
        transition: all 0.5s ease-in;
    }

    .nav-bar.open li {
        border-top: 3px solid rgb(253, 255, 252, 0.8);
    }

    .nav-bar.open li.top {
        border-top: none;
    }

    .nav-bar li {
        margin: 0;
        padding: 0.1rem 1rem;
        font-size: 1.5rem;
    }

    .nav-bar .socials li {
        width: 50%;
    }


    .nav-container li.page:hover::after {
        width: 0;
    }


    /* -------Drop Menu on Scroll------- */

    #header.nav-scrolled.nav-bar.open .list-container {
        right: 2px;
        top: 86px;
    }

    #header.nav-scrolled.nav-bar.open ul {
        flex-direction: column;
        background-color: #fff;
        border: 3px solid #000;
        border-radius: 0.2rem;
    }

    #header.nav-scrolled.nav-bar.open li {
        padding: 0.2rem 1rem;
    }

}