/* -----Hero Section------ */

.hero-section {
    background-image: url(../images/packaging-hero.jpg);
    background-size: cover;
    width: 100%;
    background-position: 50% 50%;
    height: min(80vh, 700px);
    position: relative;
    opacity: 0.95;
}

.hero-section .text-wrap {
    position: absolute;
    bottom: 26%;
    left: 12%;
    /* max-width: min(400px, 40vw); */
    margin: 1rem;
    color: #fff;
    /* border: 1px solid white; */
}

.hero-section h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    font-size: var(--step-2);
    position: relative;
    padding: 0.5rem;
}

.hero-section h1::before {
    content: '';
    background: var(--peak-p);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero-section ul {
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    padding-inline-start: 2rem;
    position: relative;
}

.hero-section ul::before {
    content: '';
    background: var(--peak-p);
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
}


@media only screen and (max-width: 650px) {

    .hero-section .text-wrap {
        left: 2%;
    }
}

@media only screen and (max-width: 500px) {


    .hero-section {
        background-position: 67% 50%;
        height: min(90vh, 700px);
    }


    .hero-section .text-wrap {
        bottom: unset;
        top: 13%;
    }
}


/* --------About Us Section-------- */

.packaging-section {
    margin-block: 2rem;
}

.packaging-section h2 {
    margin: 1rem;
    font-size: min(3rem, var(--step-3));
    text-align: center;
    color: var(--peak-g);
}

.packaging-row {
    display: flex;
    color: var(--peak-g);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0.5rem;
}

.packaging-row img{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--peak-g);
    box-shadow: 0.3rem 0.3em 0.5rem rgb(23, 42, 58, 0.5);
}

.about-wrapper p.image-text{
    position: absolute;
    bottom: 7px;
    background-color: var(--peak-w);
    color: var(--peak-g);
    right: 20px;
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
}

.about-wrapper p.image-icon{
    position: absolute;
    bottom: 8px;
    background-color: var(--peak-w);
    color: var(--peak-g);
    left: 5px;
    padding: 0.1rem 0.25rem;
    border-radius: 0.55rem;
    font-size: 3rem;
}

.about-wrapper {
    max-width: 500px;
    margin: 1rem;
    position: relative;
}

.about-wrapper p{
    text-align: justify;
}

.about-wrapper h3 {
    text-align: center;
    font-size: var(--step-1);
    margin: 1rem 0.25rem;
}

.about-wrapper p.left-border {
    padding-left: 1rem;
    position: relative;
    text-align: justify;
}

.about-wrapper p.left-border::before {
    content: '';
    background: var(--peak-p);
    height: 90%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 5%;
}

.card-wrapper .card-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-wrapper .card-header i{
    font-size: 2rem;
    padding: 0.25rem;
}

